

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-container {
  border: 1px solid;
  display: flex;
  min-height: 100px; /* Height when empty */
  /* justify-content: space-between; */
}

.degrees-container {
  flex: 1;
}

.form-degree {
  display: flex;
  flex-direction: column;
  padding-right: 100px;  /* visual space between form and add button */
}

/* Sends edit btn to the far right for each job */
/* Padding-right makes sure edit and add btns don't touch */
.display-degree {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}


