/* Education Section */
.education-container {
  display: flex;
  min-height: 100px; /* Height when empty */
}

/* Holds all degrees content */
.degrees-container {
  flex: 1;
}

/* Form to enter a new degree */
.form-degree {
  display: flex;
  flex-direction: column;
  padding-right: 100px;  /* visual space between form and add button */
  border: 1px solid lightgray;
  margin-right: 40px;
  padding: 20px;
}

/* Container for each provided degree */
.display-degree {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  padding-right: 20px;
  gap: 20px;

  padding-top: 10px;
  border: 1px solid lightgray;
  padding-left: 20px;
  margin-bottom: 20px;
}

/* Padding below each degree entry */
.display-degree p {
  padding-bottom: 10px;
}

.print-mode .display-degree {
  border: none;
  padding-left: 0;
  margin-bottom: 0;
  padding-right: 0;
  margin-right: 0;
  gap: 0;
}

@media print {
  .display-degree {
    border: none;
    padding-left: 0;
    margin-bottom: 0;
    padding-right: 0;
    margin-right: 0;
    gap: 0;
  }
}

.degree-info {
  flex: 1;
}
