/* Education Section */
.education-container {
  border: 1px solid;
  display: flex;
  min-height: 100px; /* Height when empty */
}

/* Holds all degrees content */
.degrees-container {
  flex: 1;
}

/* Form to enter a new degree */
.form-degree {
  display: flex;
  flex-direction: column;
  padding-right: 100px;  /* visual space between form and add button */
}

/* Container for each provided degree */
.display-degree {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}


