.experience-container {
  border: 1px solid;
  display: flex;
  min-height: 100px; /* Height when empty */
  /* justify-content: space-between; */
}

.jobs-container {
  flex: 1;
}

.job-desc {
  padding-bottom: 10px;
}