

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    /* justify-content: space-between; */
    /* gap is temporary */
    gap: 20px; 
}

.form-item {
    display: flex;
    flex-direction: column;
}