* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
}

h1 {
  font-size: 36px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  padding-bottom: 5px;
}

.date {
  padding-bottom: 2px;
}

.submit-btn, .add-btn, .edit-btn, .print-btn {
  background-color: lightgray;
  height: 40px;
  width: 80px;
  border-style:dashed;
}

.submit-btn:hover, .add-btn:hover, .edit-btn:hover, .print-btn:hover {
  cursor: pointer;
  background-color:gray;
}

.print-mode .submit-btn,
.print-mode .add-btn,
.print-mode .edit-btn {
  display: none;
}

/* Hide buttons when printing */
@media print {
  .submit-btn {
    display: none;
  }

  .add-btn {
    display: none;
  }

  .edit-btn {
    display: none;
  }

}


.submit-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Sends edit btn to the far right for each job */
/* Padding-right makes sure edit and add btns don't touch */
.display-job {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

