/* General Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
}

h1 {
  font-size: 36px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  padding-bottom: 5px;
}

/* Buttons */

/* Universal button styles */
.btn {
  background-color: lightgray;
  height: 40px;
  width: 80px;
  border-style:dashed;
}

/* Universal button hover styles */
.btn:hover {
  cursor: pointer;
  background-color:gray;
}

/* Container with a submit-btn in it */
.submit-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container with an add btn in it */
.add-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Hide buttons when user clicks Print Preview */
.print-mode .submit-btn,
.print-mode .add-btn,
.print-mode .edit-btn {
  display: none;
}

/* Hide buttons when printing */
@media print {
  .btn {
    display: none;
  }
}

.date {
  padding-bottom: 2px;
}



